/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Rubik";
  font-size: 16px;
  background: #0f1424;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}

/*reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Rubik";
  font-size: 16px;
  background: #0f1424;
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}

@keyframes fromLeft {
  0% {
    transform: translate(-1000px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 16px;
  grid-template-areas: "lg sh1 sh2 sh3" "lg sh4 sh5 sh6";
  justify-content: center;
}
.grid .card--lg {
  transform: translate(-1000px, 0px);
  grid-area: lg;
  animation: fromLeft 800ms forwards;
}
.grid .card--lg .user {
  position: relative;
  height: 445px;
  width: 250px;
}
.grid .card--lg .user__pt1 {
  background: #5847eb;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: 320px;
  padding: 24px 34px;
  display: flex;
  flex-flow: column wrap;
}
.grid .card--lg .user__pt1 h1,
.grid .card--lg .user__pt1 p {
  margin-top: 10%;
  padding: 0 6px;
}
.grid .card--lg .user__pt1 h1 {
  color: #fff;
  font-weight: 400;
  margin: 0;
}
.grid .card--lg .user__pt1 p {
  font-weight: 300;
}
.grid .card--lg .user__pt2 {
  background: #1c1f4a;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  height: 148px;
  padding: 8px;
}
.grid .card--lg .user__pt2 p {
  color: #6f76c8;
  padding: 12px 34px;
  cursor: pointer;
}
.grid .card--lg .user__pt2 p:hover {
  color: #979ed8;
}
.grid .card--lg .user__pt2 p.active {
  color: #fff;
}
.grid .card--sm:nth-of-type(1) {
  grid-area: "sh1";
}
.grid .card--sm:nth-of-type(2) {
  grid-area: "sh2";
}
.grid .card--sm:nth-of-type(3) {
  grid-area: "sh3";
}
.grid .card--sm:nth-of-type(4) {
  grid-area: "sh4";
}
.grid .card--sm:nth-of-type(5) {
  grid-area: "sh5";
}
.grid .card--sm:nth-of-type(6) {
  grid-area: "sh6";
}
.grid .card--sm {
  position: relative;
  width: 300px;
  height: 220px;
  border-radius: 14px;
  background: #1c1f4a;
  margin-top: 25px;
  cursor: pointer;
  transform: translate(1000px, 0px);
  animation: fromRight 800ms forwards 150ms;
}
.grid .card--sm:hover {
  background: #26295a;
}
.grid .card--sm--col {
  width: 300px;
  height: 46px;
  border-radius: 14px;
  z-index: -99;
  overflow: hidden;
}
.grid .card--sm--col img {
  width: 80px;
  float: right;
  margin-right: 10px;
  margin-top: -5px;
}
.grid .card--sm .col--1 {
  background: #ff8c66;
}
.grid .card--sm .col--2 {
  background: #56c2e6;
}
.grid .card--sm .col--3 {
  background: #ff5c7c;
}
.grid .card--sm .col--4 {
  background: #4acf81;
}
.grid .card--sm .col--5 {
  background: #7536d3;
}
.grid .card--sm .col--6 {
  background: #f1c65b;
}
.grid .card--sm--content {
  padding: 10px 34px;
}
.grid .card--sm--content * {
  margin: 4% 0;
}
.grid .card--sm--content .firstline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.grid .card--sm--content .firstline img {
  width: 20px;
  height: 6px;
  align-self: center;
}
.grid .card--sm--content h2 {
  color: #fff;
  font-weight: 500;
}
.grid .card--sm--content h3 {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
}
.grid .card--sm--content .time {
  color: #bdc1ff;
}
.grid p {
  color: #fff;
}

@media only screen and (max-width: 1240px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "lg" "sh1" "sh2" "sh3" "sh4" "sh5" "sh6";
  }
  .grid .card--lg .user {
    position: relative;
    width: 400px;
    height: 200px;
  }
  .grid .card--lg .user__pt1 {
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 150px;
    padding: 34px 44px;
  }
  .grid .card--lg .user__pt2 {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .grid .card--lg .user__pt2 p {
    align-self: center;
  }
  .grid .card--sm {
    margin-top: 12%;
    width: 400px;
  }
  .grid .card--sm--col {
    width: 400px;
  }
  .grid .card--sm--content {
    padding: 34px 24px;
  }
  .grid .card--sm--content * {
    margin: 2% 0;
  }
  .grid .card--sm--content .time {
    float: right;
    margin-top: -11%;
  }
}

/*# sourceMappingURL=styles.css.map */
