@import "./reset.scss";
@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 16px;
  grid-template-areas:
    "lg sh1 sh2 sh3"
    "lg sh4 sh5 sh6";
  justify-content: center;
  .card--lg {
    grid-area: lg;
    .user {
      position: relative;
      height: 400px;
      width: 250px;
      &__pt1 {
        background: hsl(246, 80%, 60%);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        height: 300px;
        padding: 24px 34px;
        display: flex;
        flex-flow: column wrap;
        h1,
        p {
          margin-top: 10%;
          padding: 0 6px;
        }
        h1 {
          color: #fff;
          font-weight: 400;
          margin: 0;
        }
        p {
          font-weight: 300;
        }
      }
      &__pt2 {
        background: hsl(235, 46%, 20%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        height: 125px;
        padding: 8px;
        p {
          color: hsl(235, 45%, 61%);
          padding: 8px 34px;
          cursor: pointer;
        }
        p.active {
          color: #fff;
        }
      }
    }
  }
  @for $i from 1 through 6 {
    .card--sm:nth-of-type(#{$i}) {
      grid-area: "sh" + $i;
    }
  }
  .card--sm {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 14px;
    background: hsl(235, 46%, 20%);
    padding: 0px;
    margin: 4px;
    margin-top: 25px;
    &--col {
      width: 300px;
      height: 45px;
      border-radius: 14px;
      z-index: -99;
      overflow: hidden;
      img {
        width: 70px;
        float: right;
        margin-right: 10px;
      }
    }
    @each $color in $theme-colors {
      $i: index($theme-colors, $color);
      .col--#{$i} {
        background: $color;
      }
    }

    &--content {
      z-index: 9;
      padding: 24px 34px;
      * {
        margin: 4% 0;
      }
      h2 {
        color: #fff;
        font-weight: 400;
      }
      h3 {
        color: #fff;
        font-weight: 300;
        font-size: 40px;
      }
    }
  }
  p {
    color: #fff;
  }
}
